* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #27374d;
    display: flex;
    flex-direction: column;
    gap: 170px;
    align-items: center;
}

h1 {
    color: #dde6ed;
    font-size: 60px;
    padding: 30px;
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: 50px;
    font-family: "Press Start 2P", cursive;
    background-color: #9db2bf;
    color: #27374d;
    border-radius: 12px;
    border-color: gold;
}

.btn:active {
    transform: scale(1.1) perspective(1px);
    border: gold 5px solid;
}